---
import Layout from '../layouts/Layout.astro';
import Panel from '../components/Panel.astro';
import ProjectData from '../../projectdata.json';
---

<Layout title="Welcome to Astro.">
        <section style="margin-bottom: 40px;">
        	<div class="max-width-large">
        		<h1 class="heading-medium text-align-center">Website <span class="text-gradient">Projects</span></h1>
        				<div class="grid">
        					{ProjectData.Websites.map(
        						Website => 
        							<Panel
        								title={Website.Title}
        								meta={Website.Date}
        								body={Website.ShortDescription}
        								href={Website.Page}
        								image={Website.ScreenShot}
        								target=""
        								style="secondary"
        							/>
        						)}
        				</div>
        	</div>
        </section>
</Layout>

<style is:global>
	main {
		margin: auto;
	}
	.grid {
		display: grid;
    	grid-template-columns: 1fr;
    	grid-gap: 2rem;
		align-items: stretch;
	}
	@media (min-width: 640px) {
		.grid {
    		grid-template-columns: 1fr 1fr;
		}
	}
	@media (min-width: 960px) {
		.grid {
    		grid-template-columns: 1fr 1fr 1fr;
		}
		.secondary:hover #panelImage {
			position: absolute;
			animation: auto-scroll linear 8s infinite;
			animation-timing-function: ease;
		}
	}
	@keyframes auto-scroll {
		0% {
			transform: translateY(0%);
		}
		50% {
			transform: translateY(-85%);
		}
		100% {
			transform: translateY(0%);
		}
	}
	.text-gradient {
		background-image: var(--accent-gradient-secondary);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
</style>