---
import Layout from '../layouts/Layout.astro';
import Panel from '../components/Panel.astro';
import ProjectData from '../../projectdata.json';
---

<Layout title="Welcome to Astro.">
	<main>
        <h1 class="heading-medium">Website <span class="text-gradient">Projects</span></h1>
		<p>Here's a list of some of the websites I designed and built.</p>
		<div class="grid">
			{ProjectData.Websites.map(
				Website => 
					<Panel
						title={Website.Title}
						meta={Website.Date}
						body={Website.ShortDescription}
						href={Website.Link}
						image={Website.ScreenShot}
						target="_blank"
						style="secondary"
					/>
				)}
		</div>
	</main>
</Layout>

<style>
	main {
		margin: auto;
	}
	.grid {
		display: grid;
    	grid-template-columns: 1fr;
    	grid-gap: 2rem;
    	align-items: start;
		align-items: stretch;
	}
	@media (min-width: 640px) {
		.grid {
			display: grid;
    		grid-template-columns: 1fr 1fr;
		}
	}
	.text-gradient {
		background-image: var(--accent-gradient-secondary);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
</style>