---
import info from '../../info.json';
import Layout from "../layouts/Layout.astro";
import Sidebar from "../components/Sidebar.astro";
import TreeList from "../components/TreeList.astro";
import {Icon} from "astro-icon";
---

<Layout title="Welcome to Astro.">
    <main>
        <div id="body" class="flex flex-row-reverse">
            <div id="content" class="flex-4">

                <img src="../../public/JJHiggins_720.jpg" alt="Jesse squinting at camera" class="profile-image visible-small" width="40%" height="auto"/>
            
                <h1 class="text-background heading-small">Jesse J. Higgins</h1>
                <p class="subheading">{info.details.title}</p>

                <h2>Career Objective</h2>
                <p>I'm ready to transition from my current position at a web marketing agency into a more challenging dynamic software development role, driven by my goal of enhancing my skills and progressing my career. I'd love to be a part of a collaborative environment to design and build software solutions, improve existing systems, and tackle whatever the job calls for.</p>


                <h2>Technologies</h2>
                <div class="flex">
                    <TreeList parent="Graphics" items={info.techSkills.graphics} />
                    <TreeList parent="Code" items={info.techSkills.code} />
                    <TreeList parent="Markup" items={info.techSkills.markup} />
                    <TreeList parent="Frameworks / Libraries" items={info.techSkills.frameworks} />
                    <TreeList parent="Version Control" items={info.techSkills.versionControl} />
                    <TreeList parent="Dev Tools" items={info.techSkills.devTools} />
                    <TreeList parent="Project MGMT" items={info.techSkills.projectManagement} />
                </div>


                <h2>Experience</h2>
                <h3>CS Design Studios</h3>
                    <p class="text-h6">Employee, Web Designer & Developer, 2016 - Present</p>
                    <ul>
                        <li>Started as a graphic designer and learned front-end web development skills with website projects.</li>
                            <li>Became familiar with WordPress, HTML, CSS, and JavaScript while building and supporting 250+ websites for various industries.</li>
                            <li>Configured DNS records and web host provider settings to bring websites online.</li>
                            <li>Learned to use SQL statements and the WP CLI to handle customer requests and solve problems more quickly.</li>
                            <li>Used PHP to work on custom WordPress themes and plugins for our client’s websites.</li>
                            <li>Ran meetings, gathered requirements, designed concepts, and implemented solutions based on client needs.</li>
                            <li>Handled various technical tasks, including programming a web scraper with Python and RegEx.</li>
                            <li>Helped to improve the dev process which resulted in fewer problems to fix down the road, reduced website build times, increased load speeds, and raised UI & UX design standards.</li>
                            <li>Configured and integrated a Learning Management System in WordPress for the Tucson Association of Realtors.</li>
                            <li>Collaborated on a small Unity3D game development project using GitHub and spent a few months writing C# to program gameplay features and debug them.</li>
                            
                    </ul>
                
                <h3>Go Fractional CMO</h3>
                <p class="text-h6">Contractor, Web Designer, 2021 - 2023</p>
                <ul>
                    <li>Designed, built, and supported new websites for Pest Friends (pest control company) and Flock Off (bird control company) with WordPress.</li>
                    <li>Configured a user portal for a base of Flock Off distributors.</li>
                    <li>Redesigned print collateral for the Flock Off device, sales brochures, and other distributed documents.</li>
                    <li>Used Regular Expressions to configure a number of domain redirects for the Pest Friends website.</li>
                    <li>Used JavaScript and CSS to build custom animated elements on the Flock Off website.</li>
                </ul>

                <h3>Cloud Chief Technologies</h3>
                <p class="text-h6">Owner, Web Designer, 2018 - Present</p>
                <ul>
                    <li>Designed, built, and managed websites for various clients.</li>
                    <li>Put together contracts, drafted estimates and set expectations, and handled projects from start to finish.</li>
                </ul>
            </div>
            <Sidebar>
                <div>
                    <img src="../../public/JJHiggins_720.jpg" alt="Jesse squinting at camera" class="profile-image" width="100%" height="auto" class="hidden-small"/>
                    <h3>Contact Info</h3>
                    <p>
                        Name: {info.details.name}<br />
                        Location: {info.details.location}<br />
                        Phone: {info.contact.phone}<br />
                        Email: {info.contact.email}<br />
                    </p>
                    <hr />
                    <h3>Links</h3>
                    <div class="flex" style="justify-content: space-around;">
                        <a href={info.links.twitter} target="_blank" rel="nofollow"><Icon name="mdi:twitter" width="30px" height="30px"></a>
                        <a href={info.links.linkedin} target="_blank" rel="nofollow"><Icon name="mdi:linkedin" width="30px" height="30px"></a>
                        <a href={info.links.github} target="_blank" rel="nofollow"><Icon name="mdi:github" width="30px" height="30px"></a>
                        <a href={info.links.codewars} target="_blank" rel="nofollow"><Icon name="simple-icons:codewars" width="30px" height="30px"></a>
                    </div>
                    <hr />
                    <h3>Education</h3>
                    <p>
                        Mountain View High School, 2015.<br />
                        Harvard CS50 and other online courses (In Progress).
                    </p>
                    <hr />
                    <h3>Interests</h3>
                    <ul>
                        <li>Horse Riding</li>
                        <li>BJJ & Kickboxing</li>
                        <li>Leathercraft</li>
                        <li>Carpentry</li>
                        <li>Software Projects</li>
                        <li>Game Development</li>
                        <li>Artificial Intelligence</li>
                    </ul>
                </div>
            </Sidebar>
        </div>
        

        
    </main>
</Layout>

<style>
    #body {
        margin: auto;
    }
    .text-gradient {
        background-image: var(--accent-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400%;
        background-position: 0%;
    }
    @media (min-width: 640px) {
        #content {
            padding-left: 2rem;
        }
    }
    .profile-image {
        max-width: 250px;
    }
    .tree-list {
        min-width: 250px;
    }
</style>

<!-- Script for calculating age from given birthday -->
<!-- <script type="text/javascript">
    // Determine age
    let birthday = new Date(document.getElementById("age").innerHTML);
    let today = new Date();
    let diffTime = Math.abs(today - birthday);
    let diffYears = Math.ceil(diffTime / (1000 * 60 * 60 * 24 * 365));
    document.getElementById("age").innerHTML = diffYears;
</script> -->