---
import info from '../../info.json';
import {Icon} from 'astro-icon';
---

<footer>
    <div class="flex flex-align-center">
        <!-- <div class="flex-2">
            <h3>Contact</h3>
            <p>
                Phone: <a href={info.contact.phone}>{info.contact.phone_formatted}</a><br />
                Email: <a href={info.contact.email}>{info.contact.email_formatted}</a>
            </p> -->
            <div id="socialMediaLinks" class="flex-2 text-align-center">
                <a href={info.links.twitter} target="_blank" rel="nofollow"><Icon name="mdi:twitter" width="30px" height="30px"></a>
                <a href={info.links.linkedin} target="_blank" rel="nofollow"><Icon name="mdi:linkedin" width="30px" height="30px"></a>
                <a href={info.links.github} target="_blank" rel="nofollow"><Icon name="mdi:github" width="30px" height="30px"></a>
                <a href={info.links.codewars} target="_blank" rel="nofollow"><Icon name="simple-icons:codewars" width="30px" height="30px"></a>
            </div>
    </div>
    <div class="text-align-center">
        <p>
            Website by Jesse Higgins | Built with <a href="https://astro.build/" target="_blank" style="display: inline-block; position: relative; top: 20px; overflow: hidden;">
            <img src="/astro-logo-chameleon.svg" width="80px" height="30px" alt="Astro Logo"/>
        </a></p>
        <p>Copyright © 2023</p>
    </div>
</footer>

<style>
    #socialMediaLinks {
        display: flex;
        justify-content: space-evenly;
        max-width: 200px;
        margin: 0 auto;
    }
    footer {
        width: 80ch;
        margin: 0 auto;
        max-width: calc(100% - 40px);
        padding: 20px;
    }
    footer p {
        margin: 0;
        font-family: var(--mono-font);
        font-size: 0.9rem;
    }
</style>