---
const {title, industry, description, logo, screenshot, link} = Astro.props;
import '../styles/global.css';
import '../styles/scrollbar.css';
import '../styles/buttons.css';
import Navigation from '../components/Navigation.astro';
import { Image } from 'astro:assets';
import Footer from '../components/Footer.astro';
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/logos/ChromeDog_Logo-Icon-Small.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
  <body>
    <Navigation />
      <h1>Project: {title} Website</h1>
      <div class="container">
        <main>
          <div class="logo-container">
            <Image src={logo} alt={title + "logo"}    width="400" height="200" alt="logo" id="logo"/>
          </div>
          <ul class="project-details">
            <li>Client: {title}</li>
            <li>Industry: {industry}</li>
            <li>Project: {description}</li>
          </ul>
          <hr />
          <h2>Summary</h2>
          <slot />
          <a href={link} target="_blank" rel="noopener"   class="button button-default">View Live Site</a>
        </main>
        
        <div class="capture">
          <Image src={screenshot} width="600"   height="1200" alt="screenshot"  class="site-capture"/>
        </div>
        </div>
  </body>
  <Footer />
</html>

<style is:global>
    .header {
      text-align: center;
    }
    main {
      width: 100ch;
      max-width: calc(100% - 40px);
      margin: 0 auto;
    }
    h1 {
      text-align: center;
    }
    .project-details {
      list-style: none;
      padding-left: 0;
    }
    .project-details li {
      margin: 0;
      font-family: var(--mono-font);
    }
    .button {
      margin-top: 20px;
    }
    .site-capture {
      height: auto;
      max-width: 100%;
    }
    #captureContainer {
      max-height: 80vh;
      max-width: 100%;
      overflow-y: scroll;
    }
    .container {
      overflow: hidden;
    }
    .container .capture {
      margin-top: 40px;
      max-height: 50vh;
      overflow-y: scroll;
    }
    @media(min-width: 640px) {
      .container main {
        width: calc(50% - 40px);
        padding: 0 20px;
        float: left;
      }
      .container .capture {
        width: calc(50% - 40px);
        padding: 0 20px;
        max-height: 80vh;
        overflow-y: scroll;
      }
    }
    .grid-container {
		  display: grid;
    	grid-template-columns: 1fr 1fr;
    	grid-gap: 2rem;

    }
    .flex-1-2 {
      flex: auto;
    }
    @media(min-width:640px) {
      .flex-1-2 {
        flex: 1 2;
      }
    }
    .flex-row {
      display: flex;
      flex-direction: row;
      column-gap: 5%;
    }
    .logo-container {
      display: flex;
      justify-content: center;
      padding: 40px 20px;
    }
    #logo {
      max-width: 100%;
      height: auto;
    }
</style>